In this project, we work with a dataset of used cars from eBay Kleinanzeigen, a classified section of the Geramn ebay website. The aim of this project to perform data cleaning on the selected data set, then study and analyze the data

In [6]:
import numpy as np
import pandas as pd
import csv 
autos = pd.read_csv("autos.csv", encoding = "Latin-1")

In [7]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [8]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In the above cells, we read autos.csv file into pandas Dataframe named autos. 
The dataframe consists of 50000 rows and 20 columns
The index or row axis is integer labeled and the column axis is string labeled. 
In the next step we acquired the information on columns of the Dataframe autos. We find that 5 columns - year of registeration, month of registration, power ps, no of pictures, postal code are of integer datatype and rest of them are of string datatype.

In [9]:
#Function to convert camel case to snake case
def change_case(str): 
      
    return ''.join(['_'+i.lower() if i.isupper()  
               else i for i in str]).lstrip('_') 

#Extracting columns labels from autos and storing them in cols array
cols = autos.columns
print(cols)
new_cols = []
for c in cols:
    if c == "yearOfRegistration":
        new_c = "registration_year"
        new_cols.append(new_c)
    elif c == "monthOfRegistration":
        new_c = "registration_month"
        new_cols.append(new_c)
    elif c == "notRepairedDamage":
        new_c = "unrepaired_damage"
        new_cols.append(new_c)
    elif c == "dateCreated":
        new_c = "ad_created"
        new_cols.append(new_c)
    else:
        new_c = change_case(c)
        new_cols.append(new_c)
print(new_cols)    
autos.columns = new_cols 
autos.head()

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')
['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest', 'vehicle_type', 'registration_year', 'gearbox', 'power_p_s', 'model', 'odometer', 'registration_month', 'fuel_type', 'brand', 'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code', 'last_seen']

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In the above cell, we did two things 
1. we replaced some of the column labels with names more readable and appropriate based on the data dictionary to be more descriptive 
2. converted the rest of the column labels from camel case to snake case

In [10]:
autos.describe()

,registration_year,power_p_s,registration_month,nr_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

From the investigation of columns and their values, we found out that

The column nr_of_pictures has only one value 0 
The columns price and odometer can to converted to numeric type though data present in string type 
In the below cell, we convert the values in price and odometer columns that are stored as strings into numeric values which will help us in further analysis

In [11]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(int)

In [12]:
autos["odometer"] = autos["odometer"].str.replace(",","").str.replace("km","").astype(int)

In [13]:
autos = autos.rename({"odometer": "odometer_km"}, axis = 1)
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_p_s', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [14]:
prices_unique = autos["price"].unique().shape
print(prices_unique)
price_desc = autos["price"].describe()
print(price_desc)
price_asc = autos["price"].value_counts().sort_index().head(10)
price_dsc = autos["price"].value_counts().sort_index(ascending = False).head(10)
print(price_asc)
print(price_dsc)

(2357,)
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64
0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
Name: price, dtype: int64
99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
Name: price, dtype: int64

In [15]:
odometer_unique = autos["odometer_km"].unique().shape
print(odometer_unique)
odometer_desc = autos["odometer_km"].describe()
print(odometer_desc)
odometer_asc = autos["odometer_km"].value_counts().sort_index().head(10)
odometer_dsc = autos["odometer_km"].value_counts().sort_index(ascending = False).head(10)
print(odometer_asc)
print(odometer_dsc)

(13,)
count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64
5000      967
10000     264
20000     784
30000     789
40000     819
50000    1027
60000    1164
70000    1230
80000    1436
90000    1757
Name: odometer_km, dtype: int64
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
Name: odometer_km, dtype: int64

In [16]:
autos = autos[autos["price"].between(10,999990)]

In [17]:
price_asc = autos["price"].value_counts().sort_index().head(10)
price_dsc = autos["price"].value_counts().sort_index(ascending = False).head(10)
print(price_asc)
print(price_dsc)

10    7
11    2
12    3
13    2
14    1
15    2
17    3
18    1
20    4
25    5
Name: price, dtype: int64
999990    1
350000    1
345000    1
299000    1
295000    1
265000    1
259000    1
250000    1
220000    1
198000    1
Name: price, dtype: int64

By investigating the price column, we found out that there are ads created with price below 10 and greater than 999990 that are outliers. we remove these outliers by applying a boolean mask to the autos dataframe as done above

In [18]:
date_cr_unique = autos["date_crawled"].str[:10].unique().shape
print(date_cr_unique)
date_cr_asc = autos["date_crawled"].str[:10].value_counts(normalize = True, dropna = False).sort_index()
print(date_cr_asc)

(34,)
2016-03-05    0.025371
2016-03-06    0.014070
2016-03-07    0.036052
2016-03-08    0.033263
2016-03-09    0.033036
2016-03-10    0.032209
2016-03-11    0.032602
2016-03-12    0.036961
2016-03-13    0.015661
2016-03-14    0.036631
2016-03-15    0.034275
2016-03-16    0.029503
2016-03-17    0.031610
2016-03-18    0.012913
2016-03-19    0.034751
2016-03-20    0.037808
2016-03-21    0.037292
2016-03-22    0.032933
2016-03-23    0.032271
2016-03-24    0.029400
2016-03-25    0.031569
2016-03-26    0.032251
2016-03-27    0.031114
2016-03-28    0.034854
2016-03-29    0.034131
2016-03-30    0.033738
2016-03-31    0.031817
2016-04-01    0.033738
2016-04-02    0.035494
2016-04-03    0.038573
2016-04-04    0.036486
2016-04-05    0.013078
2016-04-06    0.003161
2016-04-07    0.001384
Name: date_crawled, dtype: float64

By looking at the date range analysis of date_crawled, we can see that all the ads are crawled between 2016-03-05 and 2016-04-07 that is in a span of roughly one month, most of them in March of 2016. And the maximum number of ads crawled on 3rd of April 2016

In [19]:
ad_cr_unique = autos["ad_created"].str[:10].unique().shape
print(ad_cr_unique)
ad_cr_asc = autos["ad_created"].str[:10].value_counts(normalize = True, dropna = False).sort_index()
print(ad_cr_asc)

(76,)
2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
2016-01-03    0.000021
2016-01-07    0.000021
2016-01-10    0.000041
2016-01-13    0.000021
2016-01-14    0.000021
2016-01-16    0.000021
2016-01-22    0.000021
2016-01-27    0.000062
2016-01-29    0.000021
2016-02-01    0.000021
2016-02-02    0.000041
2016-02-05    0.000041
2016-02-07    0.000021
2016-02-08    0.000021
2016-02-09    0.000021
2016-02-11    0.000021
2016-02-12    0.000041
2016-02-14    0.000041
2016-02-16    0.000021
2016-02-17    0.000021
2016-02-18    0.000041
2016-02-19    0.000062
2016-02-20    0.000041
2016-02-21    0.000062
                ...
2016-03-09    0.033118
2016-03-10    0.031920
2016-03-11    0.032933
2016-03-12    0.036775
2016-03-13    0.017024
2016-03-14    0.035267
2016-03-15    0.034007
2016-03-16    0.029999
2016-03-17    0.031280
2016-03-18    0.013594
2016-03-19    0.033635
2016-03-20    0.037870
2016-03-21    0.037519
2016-03-22    0.032747
2016-03-23    0.032106
2016-03-24    0.029338
2016-03-25    0.031693
2016-03-26    0.032313
2016-03-27    0.031032
2016-03-28    0.034978
2016-03-29    0.034069
2016-03-30    0.033552
2016-03-31    0.031858
2016-04-01    0.033718
2016-04-02    0.035184
2016-04-03    0.038821
2016-04-04    0.036858
2016-04-05    0.011797
2016-04-06    0.003244
2016-04-07    0.001240
Name: ad_created, Length: 76, dtype: float64

By looking at the date range analysis of ad_created column of autos dataframe, we can see that the ads enlisted on eBay each day before 2016-03-09 account for a negligble percentage of ads enlisted in comparison to ads enlisted later. The last date on which the ads are enlisted is the same as the last last date on which ads are crawled. And the most of the ads are enlisted b/w March and April,2016

In [20]:
last_seen_unique = autos["last_seen"].str[:10].unique().shape
print(last_seen_unique)
last_seen_asc = autos["last_seen"].str[:10].value_counts(normalize = True, dropna = False).sort_index()
print(last_seen_asc)

(34,)
2016-03-05    0.001074
2016-03-06    0.004339
2016-03-07    0.005413
2016-03-08    0.007355
2016-03-09    0.009628
2016-03-10    0.010619
2016-03-11    0.012376
2016-03-12    0.023780
2016-03-13    0.008863
2016-03-14    0.012623
2016-03-15    0.015867
2016-03-16    0.016446
2016-03-17    0.028057
2016-03-18    0.007334
2016-03-19    0.015826
2016-03-20    0.020640
2016-03-21    0.020598
2016-03-22    0.021383
2016-03-23    0.018594
2016-03-24    0.019751
2016-03-25    0.019193
2016-03-26    0.016817
2016-03-27    0.015599
2016-03-28    0.020867
2016-03-29    0.022354
2016-03-30    0.024751
2016-03-31    0.023842
2016-04-01    0.022871
2016-04-02    0.024854
2016-04-03    0.025185
2016-04-04    0.024503
2016-04-05    0.124954
2016-04-06    0.221602
2016-04-07    0.132040
Name: last_seen, dtype: float64

By looking at the date range analysis of last_seen column of dataframe autos, we can say that all the ads are last seen between 2016-03-05 and 2016-04-07 that is in a span of roughly one month and the same as the dates ads crawled, most of them in March of 2016.

In [21]:
reg_year_desc = autos["registration_year"].describe()
reg_year_unique = autos["registration_year"].unique().shape
reg_year_asc = autos["registration_year"].value_counts(normalize = True, dropna = False).sort_index().head(20)
reg_year_dsc = autos["registration_year"].value_counts(normalize = True, dropna = False).sort_index(ascending = False).head(20)
print(reg_year_desc)
print(reg_year_unique)
print(reg_year_asc)
print(reg_year_dsc)

count    48402.000000
mean      2004.774307
std         88.789330
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64
(95,)
1000    0.000021
1001    0.000021
1111    0.000021
1800    0.000041
1910    0.000083
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000041
1937    0.000083
1938    0.000021
1939    0.000021
1941    0.000041
1943    0.000021
1948    0.000021
1950    0.000021
1951    0.000041
1952    0.000021
1953    0.000021
1954    0.000041
Name: registration_year, dtype: float64
9999    0.000062
9000    0.000021
8888    0.000021
6200    0.000021
5911    0.000021
5000    0.000083
4800    0.000021
4500    0.000021
4100    0.000021
2800    0.000021
2019    0.000041
2018    0.009690
2017    0.028635
2016    0.024958
2015    0.008037
2014    0.013677
2013    0.016570
2012    0.027065
2011    0.033532
2010    0.032829
Name: registration_year, dtype: float64

By investigating the registration year column, we find out that there are vehicles registered in years that do not make sense like before 1800 i.e, before cars are invented  and 2016 and after i.e after which the car was first liste d on eBay.The number of cars registed before 1900 and after 2016 are around 2000 which account for around 5 percentage of total cars enlisted. 
Hence, we consider 2016 as the highest acceptable year and 1900 as the lowest acceptable year to clean the data

In [22]:
autos = autos[(autos["registration_year"]>1900)&(autos["registration_year"]<2017)]
reg_year_asc = autos["registration_year"].value_counts(normalize = True, dropna = False).sort_index().head(20)
reg_year_dsc = autos["registration_year"].value_counts(normalize = True, dropna = False).sort_index(ascending = False).head(20)
print(reg_year_asc)
print(reg_year_dsc)

1910    0.000086
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000043
1937    0.000086
1938    0.000021
1939    0.000021
1941    0.000043
1943    0.000021
1948    0.000021
1950    0.000021
1951    0.000043
1952    0.000021
1953    0.000021
1954    0.000043
1955    0.000043
1956    0.000086
1957    0.000043
1958    0.000086
Name: registration_year, dtype: float64
2016    0.025965
2015    0.008361
2014    0.014229
2013    0.017238
2012    0.028157
2011    0.034884
2010    0.034154
2009    0.044772
2008    0.047566
2007    0.048877
2006    0.057389
2005    0.062912
2004    0.058012
2003    0.057947
2002    0.053305
2001    0.056572
2000    0.067233
1999    0.062031
1998    0.050532
1997    0.041741
Name: registration_year, dtype: float64

In [23]:
autos.shape

(46525, 20)

In [24]:
unique_brands = autos["brand"].unique()
brand_vc = autos["brand"].value_counts()
print(autos.columns)
brand_mean_price = {}
for b in unique_brands:
    if brand_vc[b] > 1000 :
        selected_rows = autos.loc[autos["brand"] == b,"price"]
        m = selected_rows.sum()/brand_vc[b]
        brand_mean_price[b]= m
print(brand_mean_price)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_p_s', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')
{'mercedes_benz': 8657.285427807486, 'peugeot': 3100.6928057553955, 'bmw': 8367.020719311962, 'volkswagen': 5519.476001627008, 'fiat': 2818.456066945607, 'ford': 3757.5282555282556, 'renault': 2483.889192886457, 'audi': 9362.169478908188, 'opel': 2991.9164997997595}

In [25]:
autos["brand"].value_counts().head(10)

volkswagen       9834
bmw              5116
opel             4994
mercedes_benz    4488
audi             4030
ford             3256
renault          2193
peugeot          1390
fiat             1195
seat              849
Name: brand, dtype: int64

There are 40 unique brands of cars in the given database with only 6 brands having cars enlisted over 5 percentage (2326)of total cars enlisted on eBay site. Above, we aggregated the data of each unique brand with number of cars enlisted greater than 1000 and calculated the mean price of aggreagted data over that chosen unique brand.
The results show that Audi brand has the highest mean price of all the other brands enlisted on the site
And renault has the lowest mean price of all brands 
The price gap between the top 3 and bottom 3 brands is distinctive

In [44]:
unique_brands = autos["brand"].unique()
brand_vc = autos["brand"].value_counts()
brand_mean_milage = {}
for b in unique_brands:
    if brand_vc[b] > 1000 :
        selected_rows = autos.loc[autos["brand"] == b,"odometer_km"]
        m = selected_rows.sum()/brand_vc[b]
        brand_mean_milage[b]= m
print(brand_mean_milage)
bmp_series = pd.Series(brand_mean_price)
bmm_series = pd.Series(brand_mean_milage)
print(bmp_series)
print(bmm_series)
df = pd.DataFrame(bmp_series,columns=["mean_price"])
df["mean_milage"] = bmm_series
df

{'mercedes_benz': 130838.9037433155, 'peugeot': 127122.30215827338, 'bmw': 132553.75293197812, 'volkswagen': 128708.56213138092, 'fiat': 117066.94560669456, 'ford': 124210.68796068797, 'renault': 128144.09484724123, 'audi': 129208.43672456576, 'opel': 129314.1770124149}
audi             9362.169479
bmw              8367.020719
fiat             2818.456067
ford             3757.528256
mercedes_benz    8657.285428
opel             2991.916500
peugeot          3100.692806
renault          2483.889193
volkswagen       5519.476002
dtype: float64
audi             129208.436725
bmw              132553.752932
fiat             117066.945607
ford             124210.687961
mercedes_benz    130838.903743
opel             129314.177012
peugeot          127122.302158
renault          128144.094847
volkswagen       128708.562131
dtype: float64

                mean_price    mean_milage
audi           9362.169479  129208.436725
bmw            8367.020719  132553.752932
fiat           2818.456067  117066.945607
ford           3757.528256  124210.687961
mercedes_benz  8657.285428  130838.903743
opel           2991.916500  129314.177012
peugeot        3100.692806  127122.302158
renault        2483.889193  128144.094847
volkswagen     5519.476002  128708.562131

Above, we aggregated the data of each unique brand with number of cars enlisted greater than 1000 and calculated the mean milage of aggreagted data over that chosen unique brand. The results show that bmw brand has the highest mean milage of all the other brands enlisted on the site And fiat has the lowest mean price of all brands The gap between mean milage of the top 3 and bottom 3 brands is not much and all of them lie in a narrow range of mean milage. The top 2 brands with highest mean prices are also the brands with highest mean milages but the difference between mean milages between top 2 brands and bottom 2 brands is not as distinctive as the prices

In [45]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_p_s', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [82]:
brand_model = {}
for b in unique_brands:
    model_count = autos.loc[autos["brand"] == b,"model"].value_counts(dropna = False)
    model_unique = model_count.index[0]
    brand_model[b] = model_unique
print(brand_model)

{'renault': 'twingo', 'mitsubishi': 'colt', 'lada': 'niva', 'jaguar': 'andere', 'toyota': 'yaris', 'daewoo': 'matiz', 'rover': 'andere', 'volvo': 'v70', 'volkswagen': 'golf', 'hyundai': 'i_reihe', 'land_rover': 'freelander', 'kia': 'andere', 'trabant': '601', 'chrysler': 'andere', 'smart': 'fortwo', 'alfa_romeo': '156', 'saab': 'andere', 'mazda': '3_reihe', 'opel': 'corsa', 'porsche': '911', 'skoda': 'octavia', 'nissan': 'micra', 'bmw': '3er', 'lancia': 'ypsilon', 'chevrolet': 'andere', 'citroen': 'andere', 'ford': 'focus', 'fiat': 'punto', 'audi': 'a4', 'jeep': 'grand', 'sonstige_autos': nan, 'mercedes_benz': 'c_klasse', 'peugeot': '2_reihe', 'suzuki': 'andere', 'mini': 'cooper', 'honda': 'civic', 'seat': 'ibiza', 'subaru': 'legacy', 'daihatsu': 'cuore', 'dacia': 'sandero'}

In [69]:
autos.loc[autos["brand"] == "volvo","model"].value_counts().index[0]
autos.loc[autos["brand"] == "lada","model"].value_counts(ascending=True)

samara     3
andere     7
niva      15
Name: model, dtype: int64